nbconvert==6.0.7
nbformat==5.0.6
networkx==2.4
notebook==6.1.5
numpy==1.18.4

opencv-python-headless==4.2.0.34

packaging==20.4

jupyterlab
voila
scikit-image
sklearn
ipywidgets==7.5.1
widgetsnbextension==3.5.1
timebudget==0.7.1
imutils
icecream==2.1.0
